{
    "apiBaseUrl": "api.url/here",
    "apiLogin": "api_login",
    "apiPassword": "password",
    "apiUserID": "42",
    "redmineApiBaseUrl": "redmine.doma.in",
    "redmineApiKey": "123321",
    "redmineActivityId": "10",
    "dbPath": ".\/some\/path\/he\/re.db"
}
